* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

footer {
    background-color: #11101b;
    padding-top: 50px;
}

.container3 {
    max-width: 1140px; 
    
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    
    justify-content: space-around; 
    
}

.footer-content {
    width: 45%;
    
    margin-bottom: 30px; 
    
    text-align: center;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    
}

.footer-content p {
    width: 100%; 
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #fefefe;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fefefe;
}

/* Media queries pour les petits écrans */
@media only screen and (max-width: 768px) {
    .footer-content {
        width: 100%; /* Pleine largeur sur les petits écrans */
    }
}
#footer-title {
    color: white;
}

.footer-subtitle {  
    color: white;
}
a {
    color: white;
}
a:hover {
    color: #d5e9ea;
}