* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5e9ea;
    font-family: "Google Sans", sans-serif;
    margin-top: 150px;
}

/* page index */

#title1 {
    color: #11101b;
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
    font-family: poppins;
}

#title2 {
    color: grey;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#title3 {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
    font-family: poppins;
    font-size: 30px;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#text-presentation {
    color: #11101b;
    width: 90%; 
    margin-top: 20px;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 20px;
}

#img-presentation {
    border: #11101b solid 1px;
    width: 70%; 
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        justify-content: space-between;
    }

    #text-presentation {
        width: 45%;
        margin: 0;
    }

    #img-presentation {
        width: 45%;
        margin-top: 0;
    }

    .btn {
        margin-top: 0; 
    }
}

#entete {
    margin-top: 60px; 
    opacity: 0.5;
    height: 3px; 
    background-color: #11101b;
    width: 100%;
}

.btn {
    background-color: #11101b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: poppins;
    margin-top: 20px; 
    width: 200px; 
    height: 50px;
    color: white; 
}

.link {
    text-decoration: none;
    color: white;
}

.container2 {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 90px;
}

#devis {
    width: 90%;
    margin: 20px; 
    margin-bottom: 40px;
}

#devis-title {
    color: #11101b;
    font-size: 40px;
    font-family: poppins;
    margin-top: 20px;
    margin-bottom: 10px;
}

#devis-subtitle {
    color: #11101b;
    font-size: 22px;
    font-family: poppins;
    margin-bottom: 20px;
}

#text-devis {
    width: 90%;
    margin: 20px; 
    margin-top: 20px;
}

#text-devis p {
    color: #11101b;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .container2 {
        justify-content: space-between;
    }

    #devis {
        width: 45%;
        margin: 0; 
        margin-bottom: 0;
    }

    #text-devis {
        width: 45%;
        margin: 0; 
        margin-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    .container2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    #text-devis {
        width: 90%;
        margin: 20px auto; 
        margin-bottom: 0; 
    }

    #devis {
        width: 90%;
        margin: 20px auto; 
        margin-top: 0;
    }
}


#entete2 {
    margin-top: 60px; 
    height: 3px; 
    background-color: #11101b;
    width: 100%; 
    opacity: 0.5;
    margin-bottom: 50px; 
}

/* fin page index */
/* page nos services */

.container-img1,
.container-img2,
.container-img3 {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px; /
}

.container-img1 .row1,
.container-img3 .row1 {
    flex: 0 0 100%; 
}

.container-img1 .row2,
.container-img3 .row2 {
    flex: 0 0 100%; 
}

@media only screen and (max-width: 768px) {
    .container-img1 .row1,
    .container-img3 .row1 {
        order: 2; 
    }

    .container-img1 .row2,
    .container-img3 .row2 {
        order: 1;
    }
}

.container-img2 .row1,
.container-img2 .row2 {
    flex: 0 0 50%;
}

.row1,
.row2 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-service {
    color: #11101b;
    font-size: 45px;
    font-family: poppins;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 60px;
}

@media only screen and (max-width: 768px) {
    .container-img1 .row1,
    .container-img2 .row1,
    .container-img3 .row1,
    .container-img1 .row2,
    .container-img2 .row2,
    .container-img3 .row2 {
        flex: 0 0 100%;
    }
}

@media only screen and (min-width: 768px) {
    .container-img1 .row1,
    .container-img2 .row1,
    .container-img3 .row1,
    .container-img1 .row2,
    .container-img2 .row2,
    .container-img3 .row2 {
        flex: 0 0 45%;
    }

    #title-service {
        font-size: 60px; 
    }
}

#img-service1,
#img-service2,
#img-service3 {
    width: 100%; 
    max-width: 1140px; 
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    #img-service1,
    #img-service2,
    #img-service3 {
        width: 600px; 
    }
}

#text-service1 h1,
#text-service2 h1,
#text-service3 h1 {
    font-size: 27px;
    margin-bottom: 20px;
}

#text-service1 p,
#text-service2 p,
#text-service3 p {
    font-size: 20px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}

/* fin page nos services */
/* page obtenir un devis */

#title-obdevis {
    color: #11101b;
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
    font-family: poppins;
}

.text-obdevis {
    font-size: 20px;
    text-align: justify;
    margin: 0 auto 50px; 
    max-width: calc(100% - 1000px); 
    padding: 0 20px; 
}

@media only screen and (max-width: 768px) {
    #title-obdevis {
        font-size: 2em; 
    }

    .text-obdevis {
        margin: 0 20px 50px 20px; 
        max-width: 100%; 
    }
}

@media only screen and (min-width: 769px) {
    #title-obdevis {
        font-size: 60px; 
        margin-bottom: 50px;
    }

    .text-obdevis {
        margin: 0 auto 50px; 
        max-width: 1000px; 
    }
}
.container-obdevis {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px; 
    text-align: center;
}

#formulaire-obdevis, #image-obdevis {
    width: 50%;
    max-width: 570px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

#title-obdevis2 {
    color: #11101b;
    font-size: 2.5em;
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins';
    margin-bottom: 50px;
    
}

.label-obdevis {
    font-size: 1.25em;
    text-align: left;
    display: block;
    margin: 10px 0 5px;
    margin-left: 80px;
}

.input-obdevis {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.btn-obdevis {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #11101b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em;
}

#image-obdevis img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#message-obdevis {
    width: 500px;
    height: 200px;
}


@media only screen and (max-width: 768px) {
    .container-obdevis {
        flex-direction: column-reverse;
    }

    #image-obdevis, #formulaire-obdevis {
        width: 100%;
        max-width: 100%;
    }

    #title-obdevis {
        font-size: 2.5em;
    }

    #title-obdevis2 {
        font-size: 2em;
    }

    .label-obdevis {
        margin: 0 20px 10px 20px;
        font-size: 1em;
    }

    .input-obdevis, .btn-obdevis, #email-obdevis, #message-obdevis {
        max-width: 100%;
    }

    .text-obdevis {
        margin-right: 20px;
        margin-left: 20px;
    }
}


@media only screen and (min-width: 769px) {
    #title-obdevis {
        font-size: 60px;
    }

    .text-obdevis {
        margin-right: 500px;
        margin-left: 500px;
    }
}
/* fin page obtenir un devis */
/* page contact */